[2019-10-25 20:29] kaovilai opened #92 "oc debug enhancement"
**Summary**
As currently implemented, oc debug can accept single _command without parameters_ such as `oc debug [node] -- ls`
This is quite restrictive and limits possible actions that can be done to the nodes.

I propose that `oc debug` be enhanced in a way that will allow commands with parameters to be used to perform such actions without having to enter the node/container's shell first, and hav

[2019-11-05 00:39] abhinavdahiya opened #98 "CoreOS Encrypted Disks By Default doc is not clear enough for installer changes"
The installer team was looking at implementing the https://github.com/openshift/enhancements/blob/a3411e6f3458743ee2f84b013101d584fc272dc8/enhancements/automated-policy-based-disencryption.md#installer-support section, but the section is very brief in details that would allow somebody to implement the requested feature.

Here are some of the high-level questions that probably should be answered..

[2019-11-05 13:28] sdodson commented on #98
/assign @ashcrow

[2019-11-05 14:15] ashcrow commented on #98
/assign @darkmuggle

[2019-11-11 16:14] darkmuggle commented on #98
@abhinavdahiya I think that we need to step back.

- Clevis itself doesn't have a clear API. The JSON examples in the enhancement request include the distilled configurations that are valid for the use-cases in the spec. The reason why links are missing from the spec is that the links are either no informative or do not provide sufficient detail to aide in the implementation.
- the change is NOT b

[2019-11-11 17:48] cgwalters commented on #98
I think probably we should remove the encryption bits from install config and have users supply MachineConfig instead.

(Which then pushes this discussion to what one can do via MCs)

[2019-11-18 14:22] cgwalters commented on #98
Putting this here for lack of a better place: It turns out that at least some vSphere installs use the "metal" image: https://blog.openshift.com/openshift-4-2-vsphere-install-with-static-ips/

Do we:

- Treat these as bare metal installs, and require the user either provide a TPM (which it looks like [vmware supports](https://docs.vmware.com/en/VMware-vSphere/6.7/com.vmware.vsphere.security.doc/GU

[2019-11-18 14:22] cgwalters commented on #98
@patrickdillon :arrow_up:

[2019-11-18 14:36] patrickdillon commented on #98
@jcpowermac,  for vSphere expertise

[2019-11-18 14:58] jcpowermac commented on #98
A couple things concern me about enabling it on vSphere:

1. The customer _must_ have KMS setup to use a vTPM.  We have no CI infrastructure with a KMS (at least in packet)
2. The prerequisite text states: "The guest OS you use must be either Windows Server 2016 (64 bit) or Windows 10 (64 bit)."  We need clarification from VMware if other OSes are supported.
3. ESXi 6.7 and later only - 6.5 is sup

[2019-11-18 18:32] cgwalters commented on #98
OK, we will change the encryption policy to require that no known virtualization is detected.

One tangentially related question...so I was trying to test out forcing on encryption in qemu with `cosa run` and this ignition config:

[code]

But no luck... I think there's some other bug in the code?

[2019-11-19 19:16] darkmuggle commented on #98
The default was to use base64 encoiding, which you fixed.

[2019-11-19 20:50] cgwalters commented on #98
One other detail I've been thinking about here - should we disable encryption for the bootstrap node by default?

Or (in addition better) the bootstrap node should switch to running from RAM?  We could drop an writable overlayfs on `/etc` and make `/var` a `tmpfs`.

[2019-11-19 21:30] darkmuggle commented on #98
I like this option better. I would assume the goal is to make the bootstrap node start a bit faster?

[2019-11-20 00:24] cgwalters commented on #98
Yes, but also clarify things better in the case where e.g. one wants to use a Tang server.  In that case, it might be surprising to an admin that the bootstrap node was TPM bound (if on metal) or not encrypted at all (other cases).

Basically the goal here is to avoid needing to worry about encryption for the bootstrap.

[2019-11-21 23:30] cgwalters commented on #98
Here's an example MachineConfig to skip encryption: https://github.com/cgwalters/playground/blob/master/machineconfigs/no-metal-encrypt/no-encrypt.yaml

[code]

(And you'll likely want the same for workers)

[2019-11-22 22:24] cgwalters commented on #98
OK yeah this turns out to be a real problem; we were testing out latest RHCOS in Packet.net and the host just had a TPM 1.2 device, and we bombed out.  This should have been a *lot* more obvious to debug.

If we change the installer to avoid encrypting the bootstrap, we can at least detect the case where the bootstrap doesn't meet requirements and provide the user with a much clearer error.  (This

[2019-11-22 22:26] cgwalters commented on #98
And yeah, today to avoid the encryption on the bootstrap one would need to hand-edit the output of `openshift-install create ignition-configs` for the bootstrap and append the `/etc/rhcos-no-clevis` stamp.

[2019-11-25 15:06] cgwalters commented on #98
Here's my proposal for a new revision to the encryption enhancement's `install-config.yaml` proposal:

[code]

`platform` being the default which means today "on bare metal, require a tpm2".

One reason to support this in the installer is (as noted above) to allow ergonomic control over the bootstrap node as well particularly to disable.

This also punts Tang out into a separate case - I think it'

[2019-11-25 16:08] cgwalters commented on #98
Just linking for xref: https://github.com/coreos/ignition/issues/585 would be useful for encryption in particular.

[2019-11-26 20:40] cgwalters commented on #98
Here's an example MachineConfig to force on a TPM2 requirement (likely only useful if you're e.g. using libvirt to test out a bare metal install and are using a [software test TPM](https://github.com/coreos/mantle/pull/1120)):

[code]

[2019-11-26 20:54] abhinavdahiya commented on #98
So we have examples for

a) no encryption:
https://github.com/openshift/enhancements/issues/98#issuecomment-557319361

is the file name required to be `rhcos-no-clevis` ??

b) tpm2
https://github.com/openshift/enhancements/issues/98#issuecomment-558808162 `Forcing on TPM2`

c) tang
https://github.com/openshift/enhancements/issues/98#issuecomment-558808162 `Using NBDE/Tang`

talks about multple tan

[2019-11-26 21:02] cgwalters commented on #98
Yes.  (I debated having `/etc/clevis.json` as an empty file instead, but that felt strange since it wouldn't be valid JSON)

See the RHEL doc:

I think for now,

I think my proposal for now is [per above](https://github.com/openshift/enhancements/issues/98#issuecomment-558196072) - punt on trying to include Tang in installconfig; users who want it can provide `MachineConfig` directly.  We'll circl

[2019-11-26 21:07] cgwalters commented on #98
That all said...one thing to consider at least is whether `openshift-install` should support a high level opinionated workflow that e.g. sets up a "recovery/vault server" separate from the cluster (and supports re-using an existing recovery server).  This way we could easily automate doing Tang using either the recovery server or the cluster itself, and not require admins to learn about Tang.

(Yo

[2019-12-02 19:22] sanchezl opened #134 "enhancements/etcd/storage-migration-for-etcd-encryption.md"
[storage-migration-for-etcd-encryption.md](https://github.com/openshift/enhancements/blob/master/enhancements/etcd/storage-migration-for-etcd-encryption.md)

* [x] Add operator image to 4.4
* [x] Enable operator -- https://github.com/openshift/cluster-kube-storage-version-migrator-operator/pull/6
* [x] Switch to using migrator
   * [x] kube-apiserver-operator: https://github.com/openshift/cluster-

[2019-12-02 19:27] sanchezl commented on #134
Missed 4.3 release because not stable enough.

[2019-12-11 18:35] jstuever commented on #98
There were a few different directions discussed here. Can we get this all solidified and added to the enhancement doc for clarity?

[2019-12-11 18:42] abhinavdahiya commented on #98
@jstuever i'm not sure which topic are are talking about..
sadly there are 3 different ones: exmaples, install-config fields, handling vaults

[2019-12-11 19:48] jstuever commented on #98
All of the above, a single source of truth would be considerably helpful as opposed to continually digesting these comments.

[2019-12-11 20:19] abhinavdahiya commented on #98
a) i think the enhancement should probably have the examples and the examples are pretty clear https://github.com/openshift/enhancements/issues/98#issuecomment-558812971

b) As for install-config, those probably don't belong in the enhancement. So i think we should move that to installer github issue or PR directly.

c) For the handling of vault, let's just skip that as that's not required as of n

[2019-12-12 23:21] jstuever commented on #98
Draft, open to feedback.... https://github.com/openshift/installer/pull/2809

[2019-12-17 15:33] deads2k opened #157 "kube-apiserver/auto-cert-recovery.md"
https://github.com/openshift/enhancements/blob/master/enhancements/kube-apiserver/auto-cert-recovery.md

/assign @tnozicka

[2019-12-19 16:23] tnozicka commented on #157
https://github.com/openshift/cluster-kube-apiserver-operator/pull/663
https://github.com/openshift/cluster-kube-apiserver-operator/pull/635
https://github.com/openshift/library-go/pull/645

[2019-12-20 16:46] gnufied opened #168 "Clarify Manila operator's behaviour when Manila is not available in Openstack"
The design proposal for Manila operator does not clarify behaviour of operator when Manila is not available in Openstack install - https://github.com/openshift/enhancements/pull/129

This needs to be clarified some more. cluster-storage-operator will try and sync the Manila operator and if Manila operator exits because Manila service is not available, it might try to resync. is Cluster-Storage-Ope

[2019-12-20 16:47] gnufied commented on #168
/assign @Fedosin

cc @jsafrane

[2020-01-09 14:04] deads2k opened #176 "authentication/separate oauth-apiserver"
- [ ] image for the oauth-apiserver needs to be created
- [ ] image for the oauth-apiserver needs to be in the payload (must be referenced from an operator)
- [ ] authentication operation needs inspection to be sure that proper unioning of status works
- [ ] oauth-apiserver needs to be manually put into a cluster using the resources that we'll later use in the operator.
- [ ] oauth-apiserver needs

[2020-01-15 16:49] soltysh commented on #92
This looks like a bug to me, rather than enhancement, moving to https://bugzilla.redhat.com/show_bug.cgi?id=1791374

[2020-01-15 16:49] soltysh commented on #92
/close

[2020-01-15 16:49] #92 closed

[2020-01-24 11:33] #134 closed

[2020-02-20 16:05] deads2k opened #221 "etcd operator"
https://github.com/openshift/enhancements/blob/master/enhancements/etcd/cluster-etcd-operator.md

**Metal**
- [ ] what is here @alaypatel07

**IPv6**
- [ ] azure is broken on pivot @deads2k
- [ ] azure bootstrap is broken @hexfusion

**bootstrapping**
- [ ] keep bootstrap kube-apiserver up
- [ ] real kube-apiserver to only use real etcd

**Tests**
- [ ]  If one master is lost, instructions for how

[2020-02-20 17:14] hexfusion opened #222 "etcd operator"
https://github.com/openshift/enhancements/blob/master/enhancements/etcd/cluster-etcd-operator.md

**Perf**
- [x] problems bootstrapping cluster @alaypatel07

**Metal**
- [x] ipv4 works on 3/4 (asked in slack channel)
- [x] ipv6 works on 3/4 (asked in slack channel)

**IPv6**
- [x] azure is broken on pivot @deads2k
      1. https://github.com/openshift/cluster-etcd-operator/pull/173
- [x] azure boo

[2020-02-20 17:38] retroflexer commented on #222
I am working on:
1. Restoring a cluster to previous state
2. etcd-quorum recovery steps
3. Removal of a member from etcd cluster
4. Recovery of a member with a bad data-dir

[2020-02-20 17:50] #221 closed

[2020-02-21 15:37] retroflexer commented on #222
@deads2k I am not suresh gaikwad. My handle here is @retroflexer.

[2020-02-21 22:13] morstad opened #224 "HELM 3 Catalog Enhancement - filter charts based on kubeVersion of cluster"
Utilize [kubeVersion field](https://helm.sh/docs/topics/charts/#the-kubeversion-field) from helm index to filter charts which are NOT supported on current cluster.

Excerpt from helm index with 'kubeVersion:'  :
[code]

@sbose78 @siamaksade @pedjak

[2020-03-13 15:21] #168 closed

[2020-03-26 15:29] sbose78 commented on #224
@christianvogt @rohitkrai03 @sspeiche @nimishamukherjee   This is being done for operators as well. Could we add this to the backlog and triage it, please?

[2020-03-26 15:32] sbose78 commented on #224
@siamaksade would be adding an epic on the developer console board.

[2020-03-26 15:47] sbose78 commented on #224
https://issues.redhat.com/browse/ODC-3430

[2020-04-07 20:43] lobziik opened #282 "Question: Helm 3, OpenShift specific resources handling (DeploymentConfigs)"
Hello,
I found a couple of Helm 3 related [proposals](https://github.com/openshift/enhancements/pull/175) and would ask about plans for OpenShift specific resources, such as DeploymentConfigs.

Unfortunately, at the moment Helm doesn't handle that specific resources properly (you can not force helm to wait for successful DeploymentConfig rollout for example)

Question - Would it be possible to han

[2020-05-01 16:03] smarterclayton opened #299 "Describe zero-downtime upgrades"
This topic is being worked as a draft google doc and will be converted to an enhancement.

[2020-05-01 16:11] jwforres opened #300 "Describe path for conversion of a CVO operator to run under OLM"
This topic is being worked on and an enhancement will be posted soon

[2020-05-02 08:35] markmc opened #303 "Describe purpose and issues with openshift.io/run-level label on namespaces"
In e.g. openshift/machine-api-operator#496 we stopped labeling some namespaces with `openshift.io/run-level: "1"` because those components "should follow normal admission control rules for a cluster".

Some of the background on the purpose of this label and why it should generally be avoided is described in [bz #1805488](https://bugzilla.redhat.com/1805488) and should be captured as a doc here.

[2020-05-02 09:23] markmc commented on #303
Some breadcrumbs to the code would be useful too - e.g. the [list of admission plugins that are skipped at run-level 1](https://github.com/openshift/origin/blob/6c88aa23a5cde3b6279f238198ee58deecddc17e/vendor/k8s.io/kubernetes/openshift-kube-apiserver/admission/admissionenablement/register.go#L44-L50)

[2020-05-04 14:49] sanchezl opened #304 "stability: point-to-point network check prototype"
Implement https://github.com/openshift/enhancements/pull/289.

- [x] Define API
   * https://github.com/openshift/api/pull/639
- [x] Generate API client
   * WIP: https://github.com/openshift/client-go/pull/147
- [ ] Implement
   * WIP: https://github.com/openshift/cluster-kube-apiserver-operator/pull/846
   - [ ] network check tool
   - [ ] controller
   - [ ] controller

[2020-05-04 18:36] russellb opened #305 "Service Load Balancers for Bare Metal"
Document the various alternatives we could choose to provide service load balancers on bare metal, including a recommended approach.

[2020-05-12 16:28] michaelgugino opened #319 "Automatically create user-data secret for each MCP"
Currently, the installer creates the initial user-data (stub ignition file) that is provided to machines on first boot to configure the host.  This ignition stub contains a url that specifies the name of a MachineConfigPool.  If a user creates a custom MachineConfigPool, the user must create a new stub ignition file manually, which is quite tedious.

We should automatically generate a new user-dat

[2020-05-15 09:16] ingvagabund commented on #92
@kaovilai checking the latest version of `oc`, command with parameters are accepted:

[code]

I can't find any particular change in the code adding the support. Can you check the latest version of `oc` to see if your issue is solved? What's the version of `oc` you used to reproduce your issue with?

[2020-05-15 10:45] kaovilai commented on #92
@ingvagabund

As old as 2016 (https://www.mankier.com/1/oc-debug) Not sure when `-q` was added.

I won't be able to try the latest version anytime soon. Glad there exists a version where it works though.

[2020-05-15 12:34] sdodson commented on #319
Sounds good to me.

[2020-05-22 18:57] michaelgugino opened #339 "Bubble Unreachable Kubelet Alert to the very top"
If a kubelet goes unreachable, you get like 57 alerts of all different kinds firing.  It's very difficult to get a sense of what's happening.  And that is just for one random worker kubelet, not even a master.

There should be a separate section on the alerting dashboard for just these types of alerts.

After just doing an oc delete node, almost all of the alerts cleared (Obviously, this was just

[2020-06-04 20:26] rhatdan opened #362 "We want to start running all containers by default with /dev/fuse."
This would allow us to more easily run fuse-overlay as well as other user file systems if the container is running in a user  namespace.  We have lots of user attempting to run buildah within a container, and this would enable it.

I plan on adding "/dev/fuse" to cri-o.conf in the installation and having the OS automatically load the fuse kernel module.

I don't see this as much of a security risk

[2020-06-05 15:42] cgwalters commented on #362
It sounds like this change was already merged in https://github.com/cri-o/cri-o/pull/3822

My feeling on this though is that changes to the default container "attack surface" and available APIs needs a bit more of a formal process.  I think it would be worth making this a full enhancement.

[2020-06-05 15:44] cgwalters commented on #362
So this is the equivalent of `podman run --device /dev/fuse` on by default, right?  Except because our default SELinux policy denies dynamic kernel module loads, you are proposing to unconditionally load the module on system bootup?

[2020-06-05 17:21] rhatdan commented on #362
Yes.

[2020-06-05 18:07] haircommander commented on #362
that PR was closed, not merged, because we've been squabbling on the approach :smiley:

[2020-06-05 18:40] cgwalters commented on #362
Ah right, ok.  So basically I think some squabbling on this is warranted because while I'd agree it's probably mostly safe it's still a notable change.  (For example, if we turn this on by default it becomes another thing different from e.g. upstream Kubernetes + Docker)

[2020-06-06 10:10] rhatdan commented on #362
We can not be locked into Docker forever.  Docker made some choices that were not correct, and we need to be able to evolve.

Google is not using what Docker did, they are using gvisor containers.  Amazon is using Firecracker, Alibaba is using Kata.  We need to be able to evolve past what Docker decided 7 years ago.

The important thing is that the OCI images stored at container registries are abl

[2020-06-08 17:43] cgwalters commented on #362
Totally agree!  Again I'm not saying we should block on anything, just we should have at least some slightly formal process before we expose new APIs/attack surfaces to containers by default.

[2020-06-08 19:08] rhatdan commented on #362
@haircommander Could you reopen your PR.  We now have the issue with OpenShift.

[2020-06-08 19:35] haircommander commented on #362
it is not clear we've figured out the best route. the options are:
- have cri-o unconditionally set it if /dev/fuse is mounted
- add an additional device in MCO
- add it as an additional device in the RPM

to me, the second option seems most transparent, as well as idiomatic

[2020-06-08 20:22] rhatdan commented on #362
I am fine with 2 or 3

[2020-06-08 20:23] rhatdan commented on #362
@runcom WDYT?

[2020-06-11 09:07] pierreprinetti opened #373 "CRD documentation URL lookup"
I would like to propose a documentation enhancement.

---

OpenShift CRDs are named with an URI in the `openshift.io` domain:
* machine.openshift.io/v1beta1
* metering.openshift.io/v1

It would be helpful to find useful information at the corresponding URL.

Ideally, `https://machine.openshift.io/v1beta1` contains some (machine-readable?) machine-generated documentation about the resource.

But fo

[2020-06-12 19:05] sbarre-esit opened #375 "Multi-tenancy and Elasticsearch rollover"
Re: LOG-545: Cluster logging Elasticsearch rollover data design #108

Will there be an easy way to see how much disk space is consumed per application namespace? On my multi-tenant cluster I've occasionally had one namespace accidentally leave their logging at DEBUG when they went to production. When I got disk full alerts from ES I was able to query ES for all indexes sorted by size and see the c

[2020-06-12 19:12] sbarre-esit commented on #375
Hmm, maybe I could use [Terms Aggregation](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-aggregations-bucket-terms-aggregation.html) to count the number of records for each namespace?

[2020-06-22 15:29] steffencircle commented on #98
I came here as i was re-searching options for doing an SSS based "clevis luks bind" setup for our OpenShift 4.4 deployments.

We do have the requirement to bind against multiple Tang-Servers for High-Availabiloty reasons with a key-threshold of 2.

Is this possible at all at the moment (We are actively using that on our RHEL deployments)
and if so can you please provide an example clevis.json

Thx

[2020-06-23 14:24] runcom commented on #319
SGTM as well but I don't think this prevents https://github.com/openshift/enhancements/pull/368 from landing and the plan around managing this user data (as well as bootimages) from the MCO isn't fully hashed out either, see https://github.com/openshift/machine-config-operator/issues/683#issuecomment-493193902 (that's yet another direction...). So, I think this would be valuable as well and we can

[2020-06-23 16:37] runcom commented on #319
/cc @enxebre @cgwalters

[2020-06-23 17:17] cgwalters commented on #319
This is https://github.com/openshift/machine-config-operator/issues/1619 right?

[2020-06-23 17:18] cgwalters commented on #319
I think we should do it but let's get #368 first, doesn't need to happen at the same time.

[2020-06-24 17:03] lukas-vlcek commented on #375
Correct, you can use terms agg to do counts by namespace and if you want to be cool you can do second level aggregation to see counts of records at individual log levels per namespace. (But this assumes the log level is correctly recorded which I am not sure is the case all the time).

You can also use histogram aggregation over time with nested term aggregation by namespace to see the changes dur

[2020-06-24 17:22] lukas-vlcek commented on #375
There is also this plugin https://www.elastic.co/guide/en/elasticsearch/plugins/current/mapper-size.html that could be used to do calculations based on the size of original documents (ie. individual logs) but OCP logging does not include this plugin atm.

[2020-06-24 18:27] elmiko commented on #319
this sounds reasonable to me as well

[2020-07-02 10:36] runcom commented on #319
Would we agree this is more like a bug/shortcoming we have in MCO? why do we need an enhancement? it sounds like a straightforward fix we can do in the MCO anyway (as we sync the original pools and we can add the userdata creation there as well)

[2020-07-07 15:41] michaelgugino opened #397 "Log hostname/actual IP for instances request ignition files on first boot"
A recurring problem the MAO has is a machine is provisioned, but never joins the cluster.  Invariably, this is blamed on the machine-api due to lack of understanding how ignition and MCS/MCO works.

We need to track the hostname and/or private-ip address of machines that request the first boot ignition file so we can identify where a failure has occurred.  The MCS currently logs IP addresses it se

[2020-07-08 10:14] runcom commented on #397
sounds good to me - we can work together on this as it seems the above is missing from the MachineAPI implementation right? or can we go ahead and check the headers we get in the MCS already?

[2020-07-23 13:47] michaelgugino commented on #339
Another idea is to always show a simple status (pie chart?) of healthy nodes at the top of the alerting screen.

[2020-07-23 15:24] michaelgugino commented on #319
@runcom well, it's one of those things that touches multiple areas.  The machine-api needs to have the user-data secret, MCO needs to create it.  Whether or not this amounts to the level of an 'enhancement' IDK.  I filed it in this repo because it's a cross-component issue.  I didn't write a full enhancement because that seems unnecessary.

[2020-07-27 08:08] runcom commented on #319
@michaelgugino we've done this here https://github.com/openshift/machine-config-operator/pull/1792/files#diff-fa45321336db7ad1cedc28bf643a4f97R380-R404 - now any pool is getting its stub ignition config

[2020-07-28 01:45] michaelgugino commented on #319
@runcom looks good.  Anything cleaning these secrets up?  I think it's probably okay to leave them there for the most part.

[2020-07-28 08:51] runcom commented on #319
nothing _today_ but we can add something going forward - we don't have anything cleaning unused MCs yet so it should be safe as we're going to rerender the secrets as well in case something changes

[2020-07-28 14:05] michaelgugino commented on #319
@runcom yeah, I think cleaning up MCs based on 'unused' is tricky.  It might be a config I only use every so often for a particular type of workload, so it might be perfectly valid to have a MC that goes unused for an extended period of time.

As far as deleting the user-data, I'm fine with it not being deleted automatically.  I think we could potentially set an owner-ref (does that work cross nam

[2020-08-08 11:31] akostadinov opened #428 "allow mounting custom subscription into the built container"
In reagards to [subscription-content-access.md](https://github.com/openshift/enhancements/blob/master/enhancements/subscription-content/subscription-content-access.md) (#384),

Is it possible to add to it the ability for customers to create **custom** rhsm secret/config maps  in the project and mount them while building containers in a way that subscription is available during build but never save

[2020-08-13 14:25] wkulhanek opened #433 "OpenShift installer on OpenStack does not provide the userTags field to add custom tags to created virtual machines"
Since my bugzilla (https://bugzilla.redhat.com/show_bug.cgi?id=1868517) got closed for some reason... and since I've been asked to file an issue:

Description of problem:

Every OpenShift release including 4.5(.5).

Every Cloud Platform (AWS, Azure, GCP) has a customization field "userTags" - for example "platform.aws.userTags" for the install-config.yaml.

OpenStack does not - which makes it real

[2020-08-19 12:07] praveenkumar opened #442 "Rotate/Renew long term CA and API client certs created by installer"
When we use the installer to create the cluster, it creates a kubeconfig file for `system:admin` user which uses client certificates to authenticate to the API server and have a vaild CA (for 2 years). This client certificate is valid for 10 years and there is no way (at least we don’t know)  to have it rotated with a new one after the cluster is created. Also the CA is the same for the existing c

[2020-08-19 16:57] michaelgugino opened #444 "Documentation-First Development"
Multiple times per release, we are seeing escalations related to 'bugs' as perceived by users.  Frequently, these bugs pertain to specific installation and cloud provider options.  For one reason or another, different users have the perception that missing features are actually bugs because some place in the documentation gave them some high-level steps about how to perform some particular action,

[2020-08-19 17:32] derekwaynecarr commented on #444
@michaelgugino +1

[2020-08-26 21:29] dustymabe commented on #362
I'm a bit late to this party, but just wondering if we could just have containers that need `/dev/fuse` request it like can be done for `/dev/kvm` today with device-plugins. See https://kubevirt.io/2018/KVM-Using-Device-Plugins.html

[2020-08-26 21:31] dustymabe commented on #362
But maybe that's not desired because it would require the user to specify they wanted that and it we want it to just be there by default?

[2020-08-27 13:30] haircommander commented on #362
yeah a user can already ask to have /dev/fuse bind mounted into the container.

The currently proposed approach is we're mixing a user namespace capable RuntimeClass with the needs of a builder pod. We'll be gating the user namespace annotations to a specific RuntimeClass (so it can be gated by scc easily). We can give that RuntimeClass /dev/fuse unconditionally, which will allow builder pods to u

[2020-08-28 05:15] jskovjyskebankdk commented on #362
Interesting, @haircommander. How does that work?

I spent a fairly long time trying to get exactly that working on OCP this summer, and had to settle for VFS in my (non-privileged) pods. The saga is here: https://github.com/containers/podman/issues/6667

I would *super* appreciate it, if you could be very specific, so I (n00b-level) can understand it :)

Cheers!

[2020-08-28 13:52] haircommander commented on #362
... it turns out I may have spoken without fully understanding. it was my impression that one could ask /dev/fuse to be mounted into the container and it would all magically work, but I've never actually done it (thus I am on the n00b-level :smile: ). I think my impression came from @rhatdan's comment above describing how a user can pass `/dev/fuse` to the `additional_devices` field, which is not

[2020-08-28 15:07] dustymabe commented on #362
@jskovjyskebankdk - were you able to get `/dev/fuse` to work for privileged pods? I'm trying to mount `/dev/fuse/` in [via hostPath](https://github.com/kubernetes/kubernetes/issues/60748#issuecomment-507842465) and I can't get that to work even with `privileged`. I still get `fuse: failed to open /dev/fuse: Operation not permitted`.

I do think if I get proper `/dev/fuse/` access I might not even

[2020-08-31 05:45] jskovjyskebankdk commented on #362
@dustymabe I tried, but it did not work.

I think I recall @rhatdan commenting in some other issues, that /dev/fuse should not be mounted into the container, but created.

[2020-09-02 17:32] rhatdan commented on #362
Yes from an SELinux point of view adding /dev/fuse via the spec file gets it labeled correctly, volume mounting it in gives it the hosts label.  Also works better with User Namespace.

[2020-09-28 20:37] penguinpages opened #488 "OKD - Wizard SSH Key Missing"
I have been trying OKD on oVirt. Using Wizard.  Symptom was cluster kept failing with message... this is NOT 100% from below but more of another step missed to root cause below error:

INFO Pulling debug logs from the bootstrap machine
DEBUG Added /tmp/bootstrap-ssh328666366 to installer's internal agent
ERROR Attempted to gather debug logs after installation failure: failed to create SSH client:

[2020-10-01 04:00] penguinpages commented on #488
Ran though fresh VM build..  Just to rule out some sillyness.  Attached is full  base install +IP to deploy steps.
[okd_4.6_installation_fail_sshkey_20200930v4.txt](https://github.com/openshift/enhancements/files/5309393/okd_4.6_installation_fail_sshkey_20200930v4.txt)

I also tried with 4.5 .. same result.  So whatever i am doing wrong.. is consistent.

Thanks

[2020-10-02 16:54] penguinpages commented on #488
I think I did not do a perfect job.. but tried to follow https://docs.openshift.com/container-platform/4.5/installing/installing-troubleshooting.html  to do manual collection.

Many of the commands are "live" and so I just ran at state post deployment failure for 30 seconds or so to reflect current deployment "state"

RSVP if different logs needed
[os01_ocp_4.5.13_20201002_manualLogs.log](https://

[2020-10-05 12:52] morstad commented on #224
This function was added to 4.6 and them pulled out / deferred to 4.7.

[2020-10-09 16:17] russellb commented on #305
#356

[2020-10-09 16:17] #305 closed

[2020-10-23 13:20] michaelgugino opened #509 "Allow Users to Create Custom Grafana Dashboards"
Currently, there's no way for users to create or customize grafana dashboards in the cluster in respect to the default cluster monitoring stack.  We let people execute arbitrary prometheus queries, but not create dashboards for those queries.

We should allow user to either:
1. Create additional dashboards in the default grafana instance, possibly in a namespaced area that prevents them from editi

[2020-10-23 14:39] dhellmann opened #511 "[report] add footer option to config file"
add config option for footer to append to the report so we can use our names without hard-coding that

[2020-10-23 14:39] dhellmann opened #512 "[report] add config option for intro to insert after title"
We usually link to the published versions on GitHub.

[2020-10-23 14:40] dhellmann opened #513 "[report] ignore "WIP" markers when stripping the prefix from titles"
Look for `[WIP]` and `WIP:` and other variations and remove them from the titles when looking for a section prefix.

[2020-10-23 14:41] dhellmann opened #514 "[report] add test code"
The tool is complex enough, especially the text parsing and formatting, that having some test code would be useful.

[2020-10-23 14:42] dhellmann opened #515 "[report] take author list from enhancement content"
Instead of using the GitHub PR author ID, look at the IDs in the authors list inside the document. Fall back to the GitHub value if we can't parse the enhancement or if the change is not related to an enhancement.

[2020-10-23 14:43] dhellmann opened #516 "[report] ignore tool changes"
There's no need to include changes to the report tool in the weekly summary.

[2020-11-04 14:22] morstad commented on #224
Plans to include in 4.7 and port back to 4.6

/remove-lifecycle rotten

[2020-11-04 17:02] michaelgugino opened #526 "CI Operator Visualizer Tool"
A tool to enable engineers to more quickly diagnose the causes of failed CI runs.  This tool should run automatically after/during artifact gathering and display an easy to consume visualization with important details for each operator.

Long term, it would be nice to present information about operator statuses across CI runs in an OK/NotOK fashion, so a particular team, such as machine-api, can l

[2020-11-05 17:22] michaelgugino commented on #526
Some discussion points from recent arch call:

1q) Operators should do more to detect conditions and present the information
1a.1) Operators do present some of that information today, but how accessible is it to the end user?  For engineers looking at a CI run, that information is embedded in a large json file, and nobody really looks at it.
1a.2) For the machine-api specifically, our operator sta

[2020-11-19 21:04] pierreprinetti commented on #373
Delighted to see my proposal labeled as “rotten”.

[2020-11-20 19:20] #513 closed

[2020-11-20 19:22] #516 closed

[2020-11-23 12:19] jskovjyskebankdk commented on #362
I can now use /dev/fuse in a pod, running privileged.

Not sure if it is because we now run 4.4, or because I made a mistake the last time I tried this.

I tried running a privileged pod while dropping capabilitiies SYS_ADMIN and others. But it does not seem to matter when running privileged. (maybe because that ultimately means running as the host's user id 0?)

@rhatdan can you think of a way fo

[2020-11-23 16:52] haircommander commented on #362
@jskovjyskebankdk you can add `/dev/fuse:/dev/fuse` to the `default_mounts_file` (/etc/containers/mounts.conf) pass in `/dev/fuse` to all containers run by CRI-O. In 4.7 we're going a different and finer grained route, but that should work for the time being if you don't mind having all containers have access to /dev/fuse

[2020-11-24 06:17] jskovjyskebankdk commented on #362
Thank you @haircommander !

Looking forward to 4.7, and will probably try this on our current platform.

Cheers!

[2020-11-24 09:03] #157 closed

[2020-11-25 03:07] #176 closed

[2020-11-25 03:14] polynomial commented on #176
unsure how i got mentioned here, but hello! @deads2k

[2020-12-03 09:40] #222 closed

[2020-12-08 16:01] #300 closed

[2020-12-15 16:26] #282 closed

[2020-12-19 22:41] #373 closed

[2020-12-21 16:48] #98 closed

[2020-12-22 16:51] #375 closed

[2020-12-23 22:54] #304 closed

[2020-12-24 22:58] #397 closed

[2021-01-04 14:26] michaelgugino commented on #319
/reopen

[2021-01-05 17:44] #428 closed

[2021-01-08 19:03] dhellmann opened #578 "[report] correct the count of enhancements in each section when some are filtered out of the report"
We don't include the this-week PRs in the report, but they still show up in the totals, so sometimes the counts don't match the list of enhancements.

[2021-01-11 00:03] #433 closed

[2021-01-12 01:46] kanadaj opened #582 "Bare metal installation with multiple IP addresses"
The OpenShift documentation describes how to configure bare metal nodes with multiple IP addresses; however, after FCOS installation, openshift seems to select an interface at seemingly random. It would be great if there was a way to tell OpenShift which interface the node should use for internal communication.

This would be extremely helpful in cases of hosts with both a private and a public net

[2021-01-12 11:36] romfreiman commented on #582
@kanadaj here is some related work that was done in 4.5:
https://github.com/openshift/cluster-etcd-operator/commit/002e22aa5a3f8fb8edf49e56852057a8703bc27c

[2021-01-12 15:15] kanadaj commented on #582
@romfreiman If that code is functional, it would be great if it was included in the installation documentation. Undocumented configuration options are as good as non-existent and often without guarantee to be stable or working at all...

[2021-01-12 16:12] kanadaj commented on #582
Well apparently, it doesn't work for setting the final internal IP...

[2021-01-13 15:01] kanadaj opened #583 "IPTables Operator"
We are in the difficult situation where our server provider only allows limited configuration for their firewall - as things are right now, FCOS also doesn't seem to allow custom IPTables configurations via ignition and besides, ignition isn't truly flexible enough for this I believe since post-deployment modifications may be needed to whitelist machines.

Since OpenShift seems to take over the ip

[2021-01-15 14:35] #578 closed

[2021-01-15 20:31] jwforres commented on #509
I suspect this RFE is tracked in Jira already, @s-urbaniak ?

[2021-01-16 18:23] #442 closed

[2021-01-18 13:50] michaelgugino commented on #444
/reopen

[2021-01-18 13:50] michaelgugino commented on #444
/remove-lifecycle rotten

[2021-02-03 02:09] morstad commented on #224
/close

FYI : Support is in 4.7 nightly builds, but encounter issues : https://bugzilla.redhat.com/show_bug.cgi?id=1904713

[2021-02-03 02:09] #224 closed

[2021-02-03 19:35] michaelgugino commented on #319
/reopen

[2021-02-04 17:29] michaelgugino commented on #526
/remove-lifecycle stale

[2021-02-09 23:49] michaelgugino commented on #339
/reopen

[2021-02-09 23:53] michaelgugino commented on #339
/remove-lifecycle rotten

[2021-02-10 00:08] michaelgugino commented on #339
Idea:

We have alerts for all kinds of daemonsets.  If an individual kubelet goes unreachable, you get like 37 warning alerts about various pods and daemonsets that can't find a home.

It would be nice if we could somehow reconcile on a per-node basis that one or more daemonsets are pending/not making it to the node, etc.

[2021-02-22 08:39] zvonkok commented on #362
/remove-lifecycle stale

[2021-02-22 16:51] haircommander commented on #362
we have moved to enable this when a pod specifically requests a user namespace: i.e: [gated based on runtime class](https://github.com/openshift/enhancements/pull/562/files)

[2021-02-22 16:51] haircommander commented on #362
I would say this can be closed

[2021-02-22 20:34] awgreene opened #662 "Configurable Routes"
- [ ] design https://github.com/openshift/enhancements/pull/577
- [ ] auto-configure RBAC permissions
- [ ] validator for user input consistency and validity
- [ ] observer to watch a route and set status
- [ ] observer for a stanza to copy to fixed location
- [ ] observer to set route spec host
- [ ] authentication observer to properly set serving certificate

[2021-02-22 20:54] #362 closed

[2021-03-01 19:17] dhellmann commented on #515
/remove-lifecycle rotten
/lifecycle frozen

[2021-03-01 19:18] dhellmann commented on #514
/remove-lifecycle rotten
/lifecycle frozen

[2021-03-01 19:18] dhellmann commented on #511
/remove-lifecycle rotten
/lifecycle frozen

[2021-03-01 19:18] dhellmann commented on #512
/remove-lifecycle rotten
/lifecycle frozen

[2021-03-01 19:36] #488 closed

[2021-03-05 19:51] #319 closed

[2021-04-13 23:01] kanadaj commented on #583
/remove-lifecycle stale

[2021-04-14 18:33] deads2k opened #731 "API counts"
**Blocker**
- [x] unit tests for conversion
- [x] unit tests for restarted process
- [ ] build a map of GVR to removed release
- [ ] unit test to maintain map of GVR to removed
- [x] new API for all API types
- [x] move removedInRelease to status
- [x] label indicating removed release for selection
- [x] new field for total access each hour and total in 24h
- [x] remove lastupdatetime
- [x] allow

[2021-04-15 18:59] sanchezl commented on #731
- [x] [unit tests for conversion](https://github.com/openshift/kubernetes/pull/675)

[2021-04-16 11:12] jskovjyskebankdk commented on #362
@haircommander sorry to reach out from a closed issue.

But the OCP enhancement you linked seems to be stale. At least it did not make it in time for OCP 4.7.

Is there a way to make per-Pod /dev/fuse mounts in OCP 4.7 (which we run now)?
Or plans (elsewhere) for that to be possible in a later release?

Thanks!

[2021-04-16 13:07] michaelgugino commented on #509
/remove-lifecycle stale

[2021-04-16 13:38] haircommander commented on #362
You'd want to use the `allowed_annotations` capability of cri-o https://github.com/cri-o/cri-o/blob/master/docs/crio.conf.5.md
Specifically, if you add the file
[code]

to /etc/crio/crio.conf.d

you can specify the runtime class as fuse, and add an annotation:
`io.kubernetes.cri-o.Devices: "/dev/fuse"`

which will instruct cri-o to add it as a device

[2021-04-19 06:03] jskovjyskebankdk commented on #362
Thanks!

Will it take care of the SELinux labelling?

[2021-04-21 13:28] haircommander commented on #362
I believe so, though I haven't personally checked

[2021-04-27 20:28] jbpratt opened #761 "Openshift-installer support for IBM Cloud"
Re-opening this issue here https://github.com/openshift/installer/issues/3275

I see there is already some on-going enhancements around IBM Cloud support in general (https://github.com/openshift/enhancements/blob/ce4d303db807622687159eb9d3248285a003fabb/enhancements/update/ibm-public-cloud-support.md)

I'm curious as to if the Openshift Installer can have IBM Cloud as a supported platform :smiley_

[2021-04-29 18:56] #299 closed

[2021-05-05 22:36] jbpratt commented on #761
Linking this to #773

[2021-05-17 19:24] sgreene570 opened #783 "template-lint.sh can't handle committed file renames"
I ran into some issues with `make lint` when trying to relocate an enhancement to a different top level folder.

Here is a trivial reproducer that is entirely a hypothetical example:

[code]

And you are presented with the following error:
[code]

@russellb @dhellmann is there a way we can improve the `template-lint.sh` script for this edge case?

[2021-05-17 19:25] sgreene570 commented on #783
Suspect `git log` call here:
https://github.com/openshift/enhancements/blob/master/hack/template-lint.sh#L15-L17

[2021-05-17 20:05] dhellmann commented on #783
@sgreene570 I wasn't able to reproduce the problem you reported using the steps given. Can you try #785 to see if that helps?

[2021-05-17 20:06] dhellmann commented on #783
/assign

[2021-05-17 20:08] sgreene570 commented on #783
#785 does the trick for me! Thanks.

[2021-05-17 20:13] dhellmann commented on #783
I'm curious to know what leads to the different behavior. Which version of git do you have?

[2021-05-17 20:24] sgreene570 commented on #783
[code]

[2021-05-17 20:25] sgreene570 commented on #783
Maybe something is different between our linter images? I am able to reproduce this issue with my simple reproducer with a linter image built off of master :thinking:

[2021-05-18 13:10] dhellmann commented on #783
You have a newer git version on Fedora than I do on CentOS (2.27.0). I wonder if the newer version is recording or reporting the metadata for changes in a different ways.

[2021-05-18 13:33] sgreene570 commented on #783
Git 2.31.0 was denoted as a backwards incompatible release, so this is entirely possible.

[2021-05-18 13:36] sgreene570 commented on #783
Closing issue since https://github.com/openshift/enhancements/pull/785 has merged.
Feel free to revive if there's more to dig into here.

[2021-05-18 13:36] #783 closed

[2021-05-19 13:54] sdodson commented on #444
I like this but I'm not in a position to push it forward, are you @michaelgugino ? I guess if not we can let it autoclose as a good idea we weren't able to allocate time to pursue.

[2021-06-01 06:29] markmc commented on #303
From Mark Cooper:

[2021-06-01 06:32] markmc commented on #303
Next step would be to ask around for more information (say the API server team) and add some details to openshift/enhancements/CONVENTIONS.md

[2021-06-18 19:34] #444 closed

[2021-07-05 01:43] #526 closed

[2021-07-10 07:51] #339 closed

[2021-07-24 14:05] #662 closed

[2021-08-04 08:13] #303 closed

[2021-08-04 08:42] jbpratt commented on #761
/remove-lifecycle stale

[2021-08-08 10:28] mirogl opened #859 "arm64 installer files for OKD4"
Hi,
since there is nw the possibility to install OpenShift 4 on AWS arm64  https://github.com/openshift/ocp-on-arm and there  OpenShift installer files available at
https://mirror.openshift.com/pub/openshift-v4/aarch64/clients/ocp-dev-preview/pre-release/

Is there any plan to add the arm64 support also to OKD ?

Thanks

[2021-08-12 22:34] willhaines opened #868 "Enhancement necessary for resource pool support on vSphere?"
I've submitted a [PR](https://github.com/openshift/installer/pull/5136) to address an existing [issue](https://github.com/openshift/installer/issues/3921). It adds a feature, but the scope is not huge. Resource pool support already exists in the in-tree vsphere driver and in the machine-api operator. The only change I've made is for the installer to collect a path to an optional existing resource

[2021-08-14 14:34] bwplotka opened #869 "Improve markdown linter; Optimize for human time vs brittle manual markdown formatting."
Hello 👋🏽

I like the fact that this project has a markdown linter that enforces some consistent styling. We do that in projects we maintain e.g Thanos (e.g [here](https://github.com/thanos-io/thanos/blob/main/Makefile#L180)). However, I think there is some room to improve. As an author of the proposal or some markdown document, I want to focus on the content, not on formatting. Yet I literally spe

[2021-08-17 18:17] dhellmann commented on #868
@jcpowermac or @jstuever do you have an opinion about this?

[2021-08-23 06:27] tfrisk opened #874 "Default tls termination configuration for user-created routes"
New routes do not have tls termination configured by default, if user does not specify it in yaml. Nowadays most environments have tls enabled, so trying to access non-tls route usually gives user some sort of error page.

Defaults could be applied to new routes that do not have tls configuration set.

Setting cluster-wide default tls termination settings for all new routes would make it easier fo

[2021-09-11 08:34] #583 closed

[2021-09-16 02:40] #731 closed

[2021-09-21 14:12] cohaxx opened #903 "OKD machineset with "Highly Available" option in oVirt"
Hey there,

is it possible to implement the option as described here:

https://www.ovirt.org/develop/ha-vms.html

so our OKD machines are starting automatically after maintenance or outage scenarios? As we are spawning machines quite dynamically, we actually have to remember setting this option manually every time we scale.

[2021-09-22 08:31] jbpratt commented on #761
/lifecycle frozen

[2021-10-06 09:32] #874 closed

[2021-11-04 10:00] #903 closed

[2021-11-11 10:16] ruecarlo opened #954 "Support for SOCA AWS MachinePools to support EC2 Spot Best practices"
Until very recently this document was accurate up to date and spot on (pun intended) in regards to the implementation of Spot on OpenShift https://github.com/openshift/enhancements/blob/master/enhancements/machine-api/spot-instances.md

With the recent release of Cluster API Provider AWS (CAPA) now there is experimental support for MachinePool API's on AWS. This  would be the desired approach for

[2021-11-23 18:49] ojjsaw opened #966 "Support or information on more cluster configurations"
Would like to find out with working examples or documentation if OKD4 supports below configurations:

1. Using a combination of cloud provider nodes e.g. AWS EC2 Instance and adding user-hosted on-prem local nodes still part of the same cluster?
2. Using a combination of on-prem nodes in location A and adding a node in location B still part of the same cluster?

Additional information, such as con

[2021-12-23 16:48] #954 closed

[2022-01-05 04:51] #966 closed

[2022-01-07 13:23] InfoSec812 opened #998 "Allow Users To List Own Groups"
As an unprivileged developer building and deploying applications on OpenShift, I need to be able to list the groups I am a member of so that I can associate the correct groups roles with my development tools like ArgoCD/Tekton/etc...

On the clusters I use for development, I am unable to list those groups

[code]

[2022-02-15 18:57] jacobshivers commented on #362
I am leaving this for posterity in the event someone is trying to test this and would like a reference:

- base64 encoding for MachineConfig

[code]

- MachineConfig that extends crio functionality

[code]

- Create MachineConfig

[code]

- RuntimeClass for fuse that will be used by pod

[code]

- Create RuntimeClass

[code]

- Sample pod

[code]

- Create pod

[code]

- Check for /dev/fuse within

[2022-04-06 06:54] willzhang opened #1083 "need okd4.x hello-world example and suppport webui"
need okd4.x hello-world example and suppport webui for route test

i want  a quick start demo to deploy a hello-world app have a webui support test route

[2022-05-18 18:50] #1083 closed

[2022-06-02 10:52] BCollPerales opened #1142 "Integration with 5G network (MEC-like functionality)"
Hi, I have been reviewing openshift (OKD) and my understanding is that it does not support 4G/5G networking functionalities. Am I correct?
Are you aware of successful use-cases/deployments where openshift (OKD) is used as a MEC-like platform in 4G/5G cellular networks?

[2022-06-12 10:06] vglaiju opened #1154 "Geo redundancy feasible distance & solutions"
Hi,
We are planning for "on-premise"  deployment of OKD4.8  clustes on vm-ware in two cities to achieve active-standby geo-redundant clusters.
site-A :  - OKD4.8 (3 masters + 13 workers )
site-B :  - OKD4.8 (3 masters + 13 workers )
Please help with two suggestions
1) What is the maximum distance in miles (the two OKD4.8 clusters can be physically separated) for API timeouts? Is there any distance

[2022-07-14 19:40] #1142 closed

[2022-08-01 01:56] #515 closed

[2022-08-01 01:56] #512 closed

[2022-08-01 01:56] #514 closed

[2022-08-08 10:58] sradco opened #1211 "[RFE] Operators Health Metric"
As part of an effort to standardize operators observability, in order to be able to create useful tooling for operator developers and be able to certify operators capability levels based on the requirements and test them regularly using CI, I would like to propose a generic way to report an operator health metric, that will be based on alerts and will give an in-depth way to inspect operators heal

[2022-08-08 15:19] jan--f commented on #1211
I very much like the idea of having a standard way of reporting operator health that has a low barrier of entry.

I don't think though that alerts are the right trigger for this.

1. I agree that operators already vary in how they implement health metrics. I presume asking developers to add alert labels signifying impact on operator health will be just as varied.
2. Existing alerts often refer to

[2022-08-19 09:48] xkotj opened #1219 "SSO logout redirect uri new spec"
Hello,
I would like to explain need for a **post_logout_redirect_uri** and **id_token_hint** parameters in logoutRedirect config
While integrating SSO (Keycloak 19, OIDC) with OKD I encountered there is a no possibility to include id_token_hint as a variable  in logoutRedirect URI configuration.

https://docs.openshift.com/container-platform/4.11/web_console/configuring-web-console.html

Keycloak

[2022-08-23 12:33] sradco commented on #1211
@jan--f Thank you for the review.

I think that the developer that creates the alert knows if the alert impact the health of the whole operator. Its even something that they must explain in the "Impact" section in the alerts runbooks.

I think we can consider how to implement this and what the label should be called, but its a very important label for the alert itself, regardless of the health met

[2022-08-30 11:33] sradco commented on #1211
@jan--f I would appreciate it if you could review my comments above and add others that can review this proposal.

[2022-10-02 00:15] #1219 closed

[2022-10-03 20:51] cmisale opened #1254 "[RFE] Sidecar container specification in the Secondary Scheduler Operator"
### Motivation

As of today, the Secondary Scheduler Operator creates the pod for the scheduler plugin and the user can customize the command to be executed by the main container. Some schedulers might have a sidecar container, or even an init container, and the Operator does not allow this level of customization. Changes to the container and container list in a pod cannot be done when the pod is

[2022-10-04 10:42] kmajcher-rh commented on #1211
/remove-lifecycle stale

[2022-10-08 19:31] atrauzzi opened #1258 "Add the ability to install via dnf in fedora"
Would :love_letter: love to see the ability to install via `dnf` in Fedora!

[2022-11-02 08:06] sradco commented on #1211
/remove-lifecycle stale

[2022-11-08 11:04] sradco commented on #1211
Created the following PR with more details https://github.com/openshift/enhancements/pull/1280

[2022-11-16 00:16] #1254 closed

[2022-11-21 00:15] #1258 closed